/*search bar styles*/
form {
	margin: 20px 0;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid lightgray;
	border-radius: .25rem;
}

form label {
	font-weight: bold;
}

.form-group select {
	text-transform: capitalize;
}

/*the entire listings lists*/
.lists {
	color: black;
	text-transform: capitalize;
}

.lists:hover{
	color: gray;
}

.lists:visited {
	color: lightgray;
}

.lists p{
	padding: 0 8px;
	font-size: .9em;
	display: inline-block;
}

.lists h4 {
	font-size: 1.3em;
	text-align: center;
}

/*entire listing container*/
.loading h3 {
	text-align-last: center;
}

.listingDetails, .loading {
	padding: 30px;
	border: 1px solid lightgray;
	border-radius: .25rem
}

/*how to reply to specific posting*/
.replyUrl span{
	font-weight: bold;
}

/*when listing was posted/updated*/
.posteds p{
	text-align: right;
	margin: 0;
}

.posteds span {
	font-weight: bold;
}

/*title of specific listing*/
.titles {
	margin: 15px 0;
}

.titles h2 {
	font-size: 2em;
	border-bottom: 2px solid lightgray;
	text-align: center;
}

/*descriptions of specific listings*/
.descriptions {
	margin: 15px 0;
}

.descriptions h3 {
	font-size: 1.3em;
}

/*postid styles*/
.postId {
	text-align: right;
}

.postId span{
	font-weight: bold;
}
